<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body>
    <header class="fixed top-0 left-0 w-full bg-white border-b border-t fixed-header">
        <div class="px-6 py-4 flex justify-between items-center w-full">
          <div class="flex items-center text-gray-800 font-semibold text-xl tracking-tight">
            RedHot Komputer
          </div>
        </div>
    </header>
    <div class="flex pt-16">
        <div class="w-64">
            <%- include('sidebar') %>
        </div>
        <main class="flex-1 p-4">
=======
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="/styles/output.css">
    <title><%= title %></title>
</head>
<body>
    <header class="fixed top-0 left-0 w-full border-b border-t fixed-header z-50" style="background-color: #14213d;">
        <div class="px-6 py-4 flex justify-between items-center w-full">
          <div class="flex items-center text-white font-semibold text-xl tracking-tight">
            RedHot Komputer
          </div>
        </div>
        <div class="h-3 w-full" style="background-color: #fca311;"></div>
    </header>
    <div class="flex flex-grow pt-16">
        <div class="w-64">
            <%- include('sidebar') %>
        </div>
        <main class="flex-1 p-6">
>>>>>>> 7e5e88e (web only)
